<fieldset>
    <h2 class="fs-title">Social Profiles</h2>
    <h3 class="fs-subtitle">Your presence on the social network</h3>
    <input type="text" name="twitter" placeholder="Twitter" ng-model="formData.twitter" />
    <input type="text" name="facebook" placeholder="Facebook" ng-model="formData.facebook" />
    <input type="text" name="gplus" placeholder="Google Plus" ng-model="formData.googleplus" />
	<a ui-sref="form.profile" class="btn btn-block btn-info">
		<input type="button" name="previous" class="previous action-button" value="Previous" />
	</a>
	<a ui-sref="form.payment" class="btn btn-block btn-info">
		<input type="button" name="next" class="next action-button" value="Next" />
	</a>
</fieldset>