<!-- fieldsets -->
<fieldset>
	<h2 class="fs-title">Create your account</h2>
	<h3 class="fs-subtitle">This is step 1</h3>
	<input type="text" name="email" placeholder="Email" ng-model="formData.email" />
	<input type="password" name="pass" placeholder="Password" ng-model="formData.password" />
	<input type="password" name="cpass" placeholder="Confirm Password" ng-model="formData.cpassword" />
	<a ui-sref="form.interests" class="btn btn-block btn-info">
		<input type="button" name="next" class="next action-button" value="Next" />
    </a>
</fieldset>